# Vector DB local storage
/data/vector_db/*
!/data/vector_db/.gitkeep

# LangChain/LangSmith traces
.langchain.log

# LLM Weights (if stored locally)
*.bin
*.gguf

# Standard Python
.env
.venv/
__pycache__/
.streamlit/
.deepeval/
.agents/
graphify-out/
*.pyc
.DS_Store
*.egg-info/

# Logs - Track the folder, ignore the contents
/logs/*
!/logs/.gitkeep

data/
personal/